@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


body {
 background-color: rgb(66, 102, 145) !important;


}

 

.campo {
    
    box-shadow: 0px 0px 4px rgb(107, 106, 106);
    padding: 50px;
    width: 320px;
    height: 200;
    text-align: center;
    border-radius: 20px;
    border: none;
    width: auto;
    background-color: rgb(235, 236, 241);
    color: rgb(197, 40, 40);
    margin: auto;
    font-size: large;
    


}





.salvar {
    width: 250px;

}