@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


body {
 background-color: rgb(66, 102, 145) !important;


}

 

.campo {
    
    box-shadow: 0px 0px 4px rgb(107, 106, 106);
    padding: 50px;
    width: 320px;
    height: 200;
    text-align: center;
    border-radius: 20px;
    border: none;
    width: auto;
    background-color: rgb(205, 211, 223);
    color: rgb(197, 40, 40);
    margin: auto;
    font-size: large;
    


}

#id.velocidade {
    background:tomato;

}





.campo h1{
    font-size: 50px;
    color: rgb(248, 85, 9);
    padding: 50px;
    background-color: rgb(26, 10, 245);
    border-radius: 10px;

   

}
.campo p {
    font-size: 25px;
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}